body {
  font-family: 'Electrolize', sans-serif;
  background-color: black;
  color: white;
}

/*  Navbar */
div#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* links */
nav a {
  display: inline-block;
  margin: 1em;
}

a {
  text-decoration: none;
}

a:link {
  color: #fff;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #e0fbf4;
}

/* selected link */
a:active {
  color: #d4f0e8;
}

/* home page */
p#instruction {
  margin-top: 0;
}

/* form */
div#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

#auth-form h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

#auth-form button {
  font-size: 15px;
  line-height: 38px;
}

#auth-form-error {
  text-align: center;
  font-size: 12px;
  margin-top: 7px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lavender;
  border-radius: 4px;
  color: black;
  width: 280px;
  height: 375px;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* specific formatting for main & content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  margin-top: 40px;
}

h1#stats-heading {
  margin-bottom: 30px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

section p {
  margin-top: 9px;
  font-size: 15px;
  margin-bottom: 25px;
}

/* section for result when game ends */
section#result {
  color: #e0fbf4;
}
#result h4 {
  margin-bottom: 7px;
  margin-top: 15px;
}

#result p#bestTime {
  margin-bottom: 0px;
}

#result p#avgTime {
  margin-top: 5px;
}

/* start button */
button#start-btn {
  margin-top: 25px;
  font-size: 18px;
}

#start-btn:hover {
  background-color: white;
}

.all-btns {
  font-family: 'Electrolize', sans-serif;
  background-color: #e0fbf4;
  border: 2px solid #422800;
  border-radius: 23px;
  box-shadow: #422800 4px 4px 0 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 900;
  font-size: 16px;
  padding: 0 18px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all-btns:hover {
  background-color: #cbe9e0;
}

.all-btns:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .all-btns {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* style for game's color box */
.box {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 15px;
  margin-bottom: 43px;
  transition: transform 400ms;
}

.box:active {
  /* Scale the box to 0.95 of its original size */
  transform: scale(0.95);
}

.grey {
  background-color: rgb(180, 189, 190);
}

.green {
  background-color: rgb(160, 209, 160);
}

.blue {
  background-color: rgb(131, 182, 224);
}

.purple {
  background-color: rgb(214, 180, 230);
}

.orange {
  background-color: rgb(248, 209, 136);
}

.pink {
  background-color: rgb(252, 221, 226);
}

.red {
  background-color: rgb(199, 129, 129);
}

.yellow {
  background-color: rgb(254, 254, 190);
}

/* Stats Page */
div.stats {
  width: 60%;
  max-width: 531px;
  margin-bottom: 50px;
  font-size: 15px;
}

.stats p#best {
  margin-top: 3px;
  margin-bottom: 0;
}

.stats p#avg {
  margin-top: 6px;
  margin-bottom: 16px;
}

/* parallax effect: images */
img {
  width: 30%;
}

.homePage {
  text-align: center;
}

div#format-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
